extends layout3

block content
    h1(style="color:white;")= title
    p= e
    div
        table.table.table-striped
        tr
            th
            form(action="/newuser/"+user+"/"+admin method="GET")
                input(type="submit" value="Crear usuario" class="glyphicon glyphicon-user btn-lg btn-success")

    div
        h2 Ver Usuarios
        table.table.table-striped
            for usu in usuarios
                tr  
                    td=usu.id
                    td=usu.nombres
                    td=usu.apellidos
                    td=usu.email
                    td
                        form(action="/editauser/"+usu.id+"/"+user+"/"+admin method="GET")
                            input(type="submit" value="Editar usuario" class="glyphicon glyphicon-user btn-lg btn-warning")